@use "~/src/scss/index.scss" as *;

.signIn {
    width: 50%;
    padding: 20px;
    background: $background-tertiary;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    @media (max-width: 1024px) {
        width: 90%;
    }

    >h3 {
        margin-bottom: 20px;
    }

    .actions {
        margin-top: 10px;
    }
}