.topBar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    z-index: 5;
}

.left {
    width: 20%;

    img {
        height: 128px;
        width: 128px;
    }

    /* Tablet: entre 481px y 768px */
    @media (max-width: 768px) {
        img {
            height: 80px;
            width: 80px;
        }
    }

    /* Móvil: 480px o menos */
    @media (max-width: 480px) {
        img {
            height: 64px;
            width: 64px;
        }
    }
}

.center {
    width: 60%;
    display: flex;
    justify-content: center;
}

.right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}