.topBar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    z-index: 5;
    background: linear-gradient(90deg, #2b1c20 0%, #3a1d25 50%, #2b1c20 100%);
}

.left {
    width: 20%;

    img {
        height: 128px;
        width: 128px;
    }

    @media (max-width: 768px) {
        img {
            height: 64px;
            width: 64px;
        }
    }
}

.center {
    width: 60%;
    display: flex;
    justify-content: center;
}

.right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}