$primary: #C53E4B;
$primary-hover: #a73740;

$text-primary: #ffffff;
$text-secondary: #B8AEB2; // gris cálido, mejor contraste con fondo oscuro burdeos
$text-tertiary: #3B3B3B;

$border-primary: #3A2A2F; // tono cálido, no tan gris
$border-secondary: #4A3A3F;

$background-primary: #24191E; // nuevo fondo principal
$background-secondary: #1C1517; // más oscuro y cálido, perfecto para cards
$background-tertiary: #1A1315; // para inputs, cajas, etc.
$background-quaternary: #3d3d3d; // puedes dejar este si solo se usa sutilmente
$background-quaternary__blur: #3d3d3dad; // para el fondo del menú

$success: #69af00;
$danger: #ff0a4e;
