$primary: #C53E4B;
$primary-hover: #a73740;

$text-primary: #ffffff;
$text-secondary: #B8AEB2; // gris c치lido, mejor contraste con fondo oscuro burdeos

$border-primary: #3A2A2F; // tono c치lido, no tan gris
$border-secondary: #4A3A3F;

$background-primary: #24191E; // nuevo fondo principal
$background-secondary: #1C1517; // m치s oscuro y c치lido, perfecto para cards
$background-tertiary: #1A1315; // para inputs, cajas, etc.
$background-quaternary: #3d3d3d; // puedes dejar este si solo se usa sutilmente
$background-quaternary__blur: #3d3d3d10;

$success: #69af00;
$danger: #ff0a4e;
